#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ---------------------------------------- */


.showtable{
  padding:0 10px 0 10px;
}

button{       /* this class help us to place our object anywhere in 4 direction */
  float: left; 
}

