


.calcText {
    margin-bottom: 20px;
    padding-left: 5px;
}
  
.calcText  p{
    width: 100%;
    font-size: 3.5rem;
    text-align: end;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    word-wrap: break-word;
    word-break: break-all;
}