

.hello_Der{
    background-color: pink;
    color: blue;
}
.jay_ho{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    background-color: khaki;
}

.namste{
    color: brown;
}
